@use "@angular/material" as mat;
@use "./m3-theme" as m3-theme;

@include mat.core();

/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

$light-theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

:root {
  @include mat.all-component-themes($light-theme);
  @include mat.color-variants-backwards-compatibility($light-theme);
  @include mat.typography-hierarchy($light-theme, $back-compat: true);

  .dark {
    @include mat.all-component-colors($dark-theme);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
